text-danger {
  color:#FF8084;
  padding-left: 18px;
}
.alert-danger {
  color: #721c24;
  //background: #FF8084;
 // border-color: #f5c6cb;
  margin-bottom: 5px;
}

.container-error-message {
  padding: 3px;
}
