<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Products Category Total: {{ totalCategorias }}</h5>
        </div>
        <div class="card-body">
          <div class="btn-popup pull-right">
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-original-title="test"
              data-target="#exampleModal"
              (click)="open(content)"
            >
              Add Category
            </button>

            <ng-template #content let-modal>
              <div class="modal-header">
                <h5 class="modal-title f-w-600" id="exampleModalLabel">
                  Add Category
                </h5>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="needs-validation" [formGroup]="categoriaForm">
                  <div class="form">
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="categoriaExiste"
                    >
                      Category already exists!
                    </div>
                    <div class="form-group">
                      <label for="validationCustom01" class="mb-1"
                        >Category Name :</label
                      >
                      <input
                        class="form-control"
                        id="validationCustom01"
                        type="text"
                        formControlName="name"
                        [ngClass]="{
                          'is-invalid': name.errors && name.touched
                        }"
                      />
                    </div>
                    <div class="form-group">
                      <label for="validationCustom01" class="mb-1"
                        >Descripcion :</label
                      >
                      <input
                        class="form-control"
                        id="validationCustom01"
                        type="text"
                        formControlName="descripcion"
                        [ngClass]="{
                          'is-invalid':
                            descripcion.errors && descripcion.touched
                        }"
                      />
                    </div>

                    <div class="form-group mb-0">
                      <label for="validationCustom02" class="mb-1"
                        >Category Image :</label
                      >

                      <input
                        type="file"
                        class="d-none"
                        style="display: none"
                        (change)="onPhotoSelected($event)"
                        #photoInput
                      />
                      <img
                        [src]="photoSelected"
                        class="img-fluid"
                        alt="No image"
                        (click)="photoInput.click()"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  [disabled]="saving"
                  type="button"
                  (click)="crearCategoria()"
                  class="btn btn-primary"
                >
                  <span
                    *ngIf="saving"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>

                  <div *ngIf="!saving">Save</div>
                  <div *ngIf="saving">Saving</div>
                </button>
                <button
                  class="btn btn-secondary"
                  type="button"
                  data-dismiss="modal"
                  (click)="modal.dismiss('Cross click')"
                >
                  Close
                </button>
              </div>
              <!--  <pre>{{ this.categoriaForm.value | json }}</pre> -->
            </ng-template>
          </div>

          <div id="batchDelete" class="category-table custom-datatable">
            <div class="table-responsive">
              <ng2-smart-table
                [settings]="settings"
                [source]="categories"
                (editConfirm)="onEditConfirm($event)"
                (deleteConfirm)="onDeleteConfirm($event)"
              ></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
